.emp-container { width:80%; margin:auto; padding:20px; }
.searchBar { width:50%; padding:8px; margin-bottom:15px; }
.formBox input { margin:5px; padding:6px; }
.formBox button { margin-left:5px; padding:7px 12px; }

table { width:100%; border-collapse:collapse; margin-top:20px; }
th, td { border-bottom:1px solid #ddd; padding:10px; text-align:left; }

table img { width:60px; border-radius:6px; }
button { margin-right:5px; }
